body{
    background-color: #e0e0e0;
}
table{
    border-collapse: collapse;
    text-align: center;
    
}
th,td{
    border: 2px solid #7ba3c9;
}
input:focus{
    box-shadow: 0px 5px 7px #035c97;
}
input:focus-visible{
    outline:nome 
}